node_modules
.git
.gitignore
.env
.env.local
.DS_Store
*.pyc
__pycache__
.pytest_cache
.venv
venv
env
.vscode
.idea
*.log
*.swp
*.swo
*.md
cropped_outputs
extras
flutter_app
flutter_verbose_debug.txt
# disese dtection included below
web_dashboard/node_modules
web_dashboard/dist
web_dashboard/.vite
test_accuracy.py
test_connection.bat
test_disease.py
dummy_leaf.jpg
*.bat
DEBUG_GUIDE.md
DOCUMENTATION_SUMMARY.md
Detailed.md
FLUTTER_IMPLEMENTATION_GUIDE.md
MODEL_STATIC_OUTPUT_ANALYSIS.md
PROJECT_COMPLETE_FLOW.md
PROJECT_PHASES_ANALYSIS.md
QUICK_REFERENCE.md
README.md
TEST_LOGIN_FLOW.md
TOP_4_CROPS_IMPLEMENTATION_GUIDE.md
